@model SFA.DAS.EmployerDemand.Web.Models.StoppedInterestViewModel

@{
    Layout = "_LayoutEmployer";
    ViewData["Title"] = "We've stopped sharing your interest in apprenticeship training with training providers";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
            <p class="govuk-body">We've sent a confirmation email to @Model.EmployerEmail.</p>
            <a id="search" href="@Model.FatUrl" class="govuk-button">Find apprenticeship training</a>
            <p class="govuk-body"><a href="https://www.smartsurvey.co.uk/s/1ZRQ3HFAT/" class="govuk-link govuk-link--no-visited-state">What did you think of this service?</a></p>
        </div>
    </div>
</main>