@model SFA.DAS.EmployerDemand.Web.Models.VerifyEmployerCourseDemandViewModel
@{
    Layout = "_LayoutEmployer";
    ViewData["Title"] = $"Click the link we've sent to {Model.EmailAddress}";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
            <p class="govuk-body">We've sent an email to @Model.EmailAddress. Click on the link in the email to confirm the address.</p>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    We will not share any interest with training providers until someone clicks the link in the email.
                </strong>
            </div>
            <p class="govuk-body">Check the spam or junk mail folders.</p>
        </div>
    </div>
</main>