@{
    Layout = "_LayoutProvider";
    ViewData["Title"] = "Find apprenticeship training opportunities";
    ViewData["Description"] = "View apprenticeship training opportunities and share your contact details with employers.";
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
    
            <h1 class="govuk-heading-xl">
                Find employers that need a training provider
            </h1>
            <p class="govuk-body">No employers are sharing their interest in apprenticeship training.</p>
            <p class="govuk-body govuk-!-margin-bottom-8">When an employer shares their interest, you can view them here.</p>
          
        </div>
    </div>
</main>